.home-banner {
     background-image: url(https://onlyjamsbucket.s3.amazonaws.com/gaymeStop/gayStop-images/rainbow-galaxy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem ;
    padding: 5rem;
    margin-top: 0px;
    border-radius: 5px ;
    /* opacity: 0.5; */
  }

  /* .home-banner:hover{
    background-image: url(https://onlyjamsbucket.s3.amazonaws.com/gaymeStop/gayStop-images/rainbow-galaxy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem ;
    padding: 5rem;
    margin-top: 0px;
    border-radius: 5px ;
    transition: all 500ms ease-in;
    transition-duration: 1000ms;
 } */

.mapped-games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 20px;
    margin-left: 5px;
}

.mapped-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(25, 21, 21);
    border: 2px rgb(91, 91, 91) solid;
    /* border-top: 50px red; */
    border-radius: 13px;

    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;

    margin-bottom: 50px;
    margin: 20px;
    /* margin-left: auto; */
    box-sizing: border-box;
    box-shadow: 0px 3px 8px rgb(123, 121, 121);
    transition: all 100ms ease-in;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color: aliceblue; */
  }


  .mapped-game-container:hover {
    background:  linear-gradient(to right, rgb(213, 44, 0), rgb(226, 150, 136), rgb(255, 255, 255) 45%, rgb(255, 255, 255), rgb(255, 255, 255) 55%, rgb(210, 127, 164), rgb(162, 2, 98));
    background-color: rgb(255, 255, 255);
    box-shadow: -15px -1px 15px rgb(195, 78, 0), 15px 1px 15px rgb(162, 2, 98),  0px 10px 10px rgb(233, 233, 234), 0px -10px 10px rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(255, 0, 128), 0 0 1em rgb(195, 78, 0), 0 0 0.2em blue;
    transition: all 100ms ease-in;

    border: none;
  }


  .mapped-game-container:active {
    background: linear-gradient(to right, rgb(7, 141, 111), rgb(152, 202, 153), rgb(255, 255, 255) 45%, rgb(255, 255, 255), rgb(255, 255, 255) 55%, rgb(205, 208, 234), rgb(123, 173, 226) 70%, rgb(69, 76, 189), rgb(63, 26, 121));
    box-shadow: -15px -1px 15px rgb(8, 161, 128), 15px 1px 15px rgb(102, 43, 196),  0px 10px 10px rgb(233, 233, 234), 0px -10px 10px rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(255, 0, 128), 0 0 1em blue, 0 0 0.2em blue;
    color: aliceblue;

    border: none;
  }


  .mapped-product-title {
    /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
    color: aliceblue;
    text-align: center;
  }

  .mapped-product-price {
    color: rgb(255, 255, 255);
   }

 .mapped-product-img {
  float: left;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
 }

 .mapped-title-price-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */

}
