



.form_page_body{
    color: red;
}

.upload_img_container{
color: aqua;
}

.upload_img_img_file{
 color: orange;
}


.upload_img_caption_text{
 color: yellow;
}


.upload_img_btns{
    color: green;
}
