/* TODO Add site wide styles */



body{
    background-image: url("https://onlyjamsbucket.s3.amazonaws.com/gaymeStop/gayStop-images/backgrounds/vector-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, sans-serif;
    margin: 0;
}
