.h1 {
  background-color: blueviolet;
}

.single-game-container {
  /* display: flex; */
  background-color: rgb(204, 185, 222);
  display: flex;
  /* width: 900px; */
  /* height: 500px; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  /* margin: 30px; */
  background-image: url("https://onlyjamsbucket.s3.amazonaws.com/gaymeStop/gayStop-images/backgrounds/vector-background.jpg");
  background-size: contain;
  /* z-index: 1; */

}
/*! LEFT HALF */
.product-left-half {
  width: 65%;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* background-color: rgb(209, 255, 43); */
  /* background: linear-gradient(to bottom, red, orange,yellow, green, blue, indigo, violet); */
  /* background-image: url("https://onlyjamsbucket.s3.amazonaws.com/gaymeStop/gayStop-images/backgrounds/vector-background.jpg");
  background-size: contain; */
}

.outer-img-container {
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  justify-content: center;
  /* background-color: #c9c9c9; */
  width: 100%;
}

.product-image-container {
  width: 45%;
  height: 20%;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #c9c9c9;
  /* object-fit: contain; */
  margin: 30px;
  border: 5px solid rgb(255, 255, 255);
}

.product-img {
  background-color: black;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;

  /* object-fit: scale-down; */

  /* margin-right: 20px; */
  /* object-fit: fill; */
}

.title-descrip-con {
}

.desc-and-glitter-container {
  /* display: flex; */
  width: 100%;
  /* flex-direction: column; */
  /* align-items: center; */
  /* border: 3px blue solid; */
}

/** product description */

.product-description-con {
  /* border-bottom: 3px aliceblue solid; */
  color: aliceblue;
  /* background-color: aliceblue; */
  padding-left: 1%;
  width: 100%;
  padding-top: 4%;
  margin-bottom: 4%;
}


.edit-product-description-con {
  /* border-bottom: 3px aliceblue solid; */
  color: aliceblue;
  /* background-color: aliceblue; */
  padding-left: 1%;
  width: 100%;
  padding-top: 4%;
  margin-bottom: 4%;
}


.product-description-header {
  font-weight: bolder;
  font-size: 40px;
  border-bottom: 5px ridge rgb(241, 249, 255, 0.9);
  /* border-bottom: 14px ridge rgba(241, 249, 255, .7); */
}

.edit-product-description-header {
  font-weight: bolder;
  font-size: 40px;
  border-bottom: 5px ridge rgb(241, 249, 255, 0.9);
  /* border-bottom: 14px ridge rgba(241, 249, 255, .7); */
}

.product-description-span {
  font-size: 23px;
  font-family: monospace;
  /* padding-left: 2%; */
}

.edit-product-description-span textarea {
  color: aliceblue;
  width: 95%;
  font-size: 23px;
  font-family: monospace;
  /* padding-left: 2%; */
}


/** product description end */

/** glitter description */

.glitter-showcase {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  border: 4px rgb(65, 127, 188) solid;
  box-shadow: 0px 10px 40px royalblue;
  border-radius: 15px;
  height: auto;
  width: 85%;
  padding: 10px;
  margin-left: 7.5%;

}

.glitter-font {
  font-size: 150%;
  font-weight: 900;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  word-break: normal;
  font-family: fantasy;
  -webkit-text-fill-color: transparent;
}

.glitter-factor-text {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  font-family: fantasy;
}

/** glitter description end */
/*! LEFT HALF END */

/*! RIGHT HALF START */
.product-right-half {
  width: 30%;
  height: 100%;
  position: sticky;
  /* position: relative; */

  padding-right: 1%;
  padding-left: 1.25%;
  top: 25%;
  background-color: rgb(0, 0, 0);
  border-top: 0;
  border-radius: 7px;
  box-shadow: 0px 10px 40px rgb(178, 56, 189);
  flex: 1;
  /* z-index: 2; */

}

.right-title {
  background: rgb(0, 0, 0);
  color: aliceblue;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  /* font-size: 370%; */
  /* font-size: auto; */
/* word-break: break-all; */
  /* overflow:hidden; */
  /* overflow-x: ; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*? price start */

.price-container {
  display: flex;
  border-bottom: aliceblue solid;
  padding-bottom: 5px;
  border-top: aliceblue solid;
  padding-top: 5px;
  margin-bottom: 5%;
}

.price {
  color: aliceblue;
  font-size: 200%;
  font-weight: 900;
}

.price-number {
  font-size: smaller;
}

.price-number input {
  display: flex;
  font-size: smaller;
  background-color: #606060;
}

/*? price end */

/** shipping div start */
.shipping-div {
  display: flex;
  border-bottom: 2px aliceblue solid;
  height: 4rem;
  background: rgb(0, 0, 0);
}

.icon-column {
  padding: 1%;
  padding-top: 5%;
  vertical-align: middle;
}

/* .fas fa-shipping-fast {
  padding: 20px;
} */

.shipping-details {
  color: rgb(116, 125, 132);
  text-align: center;
  flex: 1;
}

.shipping-launch-day{
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  word-break: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-fill-color: transparent;
}

/** shipping div end */

/*? add to cart start */
.prod-cart-container {
  background: #000000;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: aliceblue;
}

/*! RIGHT HALF END */

/*? add to cart end */

/*todo EDIT */

.product-edit-info {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.product-edit-info input {
  background-color: #4caf50;
}

.edit-prod-title {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #c9c9c9;
  background: rgb(0, 0, 0);
  color: aliceblue;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  font-size: 370%;
  word-break: keep-all;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.edit-prod-title input{
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #c9c9c9;
  background: rgb(0, 0, 0);
  color: aliceblue;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  font-size: 100%;
  word-break: keep-all;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.edit-product-price {
  color: aliceblue;
  font-size: 200%;
  font-weight: 900;
}

.edit-product-price input {
  color: aliceblue;
  font-size: smaller;

}

.edit-glitter-showcase {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  border: royalblue solid;
  box-shadow: 0px 10px 40px royalblue;

  border-radius: 15px;
  height: 300px;
  /* width: auto; */
}

.edit-glitter-factor-textarea {
  color: #fff;
  font-size: larger;
}

.edit-product-glitter-factor {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #c9c9c9;
}

.edit-prod-desc {
  font-weight: bolder;
  font-size: 40px;
  border-bottom: 5px ridge rgb(241, 249, 255, 0.9);

}

.edit-prod-img {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: rgb(6, 6, 6);
  color: aliceblue;
  box-shadow: 0px 0px 5px #c9c9c9;
}

.edit-prod-img input {
  /* margin-bottom: 0.5rem; */
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  /* background: burlywood; */
  box-shadow: 0px 0px 5px #c9c9c9;
}

.edit-button {
  margin-right: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  border: 2px aliceblue solid;
  border-radius: 5px;
  background-color: #000000;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
}

.edit-submit-button {
  margin-right: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  border: 2px aliceblue solid;
  border-radius: 5px;
  background-color: #000000;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
}

.cancel-button {
  margin-right: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  border: 2px aliceblue solid;
  border-radius: 5px;
  background-color: #000000;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
}

.ques-edit-crud-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.error {
  color: red;
  margin-top: 0.5rem;
}
